<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Book List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="../css/CSS.css" th:href="@{../css/CSS.css}" />
    <link href="https://fonts.googleapis.com/css?family=Tangerine&display=swap" rel="stylesheet">
</head>
<body>
	<h1 id="titlemain">Categories on Arttu Books Ltd.</h1>
	<table id="table">
		<tr>
			<th>Category name</th>
		</tr>

		<tr th:each="category : ${catslist}">
			<td th:text="${category.name}">category</td>

			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/deletecat/{id}(id=${category.categoryId})}">Delete</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/editcat/{id}(id=${category.categoryId})}">Edit</a></td>
		</tr>
	</table>
	<span sec:authorize="hasAuthority('ADMIN')"><a href="/newcat" id="button">Add a new category</a></span>
	
	<a th:href="@{/allbooks}" id="buttonprevious">Back to book listing</a>

</body>
</html>