<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bookstore edit page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="../css/CSS.css" th:href="@{../css/CSS.css}" />
    <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
</head>

<body>

	<h2 id="titlemain">Modify the desired book's information</h2>
	<div>
		<form id="form" th:object="${book}" th:action="@{../saveedit}" action="#" method="post">
		  	
		  	<label for="name">Book's name:</label>
			<input type="text" id="name" th:field="*{title}" />
			<p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</p> 
			<div style="clear: both; display: block; height: 20px;"></div>
			
		  	<label for="author">Book's author:</label>
			<input type="text" id="author" th:field="*{author}" />
			<p th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author Error</p>
			<div style="clear: both; display: block; height: 20px;"></div>
			
		  	<label for="isbn">Year of release:</label>
			<input type="text" th:field="*{year}" />
			<p th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year Error</p>
			<div style="clear: both; display: block; height: 20px;"></div>
			
			<label for="year">Book's isbn:</label>
			<input type="text" th:field="*{isbn}" />
			<p th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}">ISBN Error</p>
			<div style="clear: both; display: block; height: 20px;"></div>	
			
			<label for="year">Price of the book:</label>
			<input type="text" th:field="*{price}" />
			<p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</p>
			<div style="clear: both; display: block; height: 20px;"></div>	
			
			<label for="id"></label>
		  	<input type="hidden" id="id" th:field="*{id}" readonly="readonly" /><!-- // Ei kosketa tähän. Ei käy $-tägi? 
		  	 Koska vain attribuutti. Siirsin tänne, jotta ei vie tilaa muilta kolumneilta. -->
			
			<input id="button" type="submit" value="Save"></input>
			  <label for="categorylist">Category:</label>
			
			<select id="categorylist" th:field="*{category}" class="form-control"> <!-- // Tässä kohtaa voisi olla myös ${book.category} -->
			<option th:each="category: ${catslist}"
					th:value="${category.categoryId}"
					th:text="${category.name}"></option>
			</select> 
			
			<p><a th:href="@{/allbooks}" id="buttonprevious">Previous page</a></p>
			
		</form>
	</div>
	
</body>
</html>