<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Book List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="../css/CSS.css" th:href="@{../css/CSS.css}" />
    <link href="https://fonts.googleapis.com/css?family=Tangerine&display=swap" rel="stylesheet">
</head>
<body>
	<h1 id="titlemain">Books by Arttu Books Ltd.</h1>
	<div class="col-md-4">
		<h3 th:inline="text" id="welcometext">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<span sec:authorize="hasAnyAuthority('ADMIN', 'USER')"><input type="submit" value="Sign Out" class="btn btn-danger" id="signout"/></span>
			<a href="/signup" id="button2">Sign up as a new user</a>
			<a href="/login" id="button2">Sign in again</a>
		</form>
	</div>
	<table id="table">
		<tr>
			<th>Title</th>
			<th>Author</th>
			<th>Year</th>
			<th>ISBN</th>
			<th>Price</th>
			<th>Category related to book</th>
		</tr>

		<tr th:each="book : ${books}">
			<td th:text="${book.title}">title</td>
			<td th:text="${book.author}">author</td>
			<td th:text="${book.year}">year</td>
			<td th:text="${book.isbn}">isbn</td>
			<td th:text="${book.price}">price</td>
			<td th:text="${book.category.name}">Category related to specified book</td>
			<!--<td>
			//<span th:if="${book.category.name == True}">Category related to book </span>
			//<span th:unless="${book.category.name == null}">Category related to book </span>
			//</td> MAYBE THIS?-->
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/deletebook/{id}(id=${book.id})}">Delete</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/editbook/{id}(id=${book.id})}">Edit</a></td>
			
		</tr>
	</table>
	<span sec:authorize="hasAuthority('ADMIN')"><a href="/newbook" id="button">Add a new book</a> </span>
	<a href="/allcats" id="button">Show and edit categories (EDIT reserved for Admins)</a>
	<a href="http://localhost:8080/api/books" id="button">Show JSON data</a>

</body>
</html>