<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.com">
<head>
<meta charset="utf-8" />
<title>REST Home Page</title>
</head>
<body>
<h1>REST Home Page</h1>

	<h2>All Books</h2>
	<p>
		<strong>Method:</strong> GET <strong>Endpoint:</strong> <strong><a
			href="/books">/books</a></strong>
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre><code>[
{
id: 5,
title: "Tesla",
author: "Matts Johansson",
year: 1994,
isbn: "2100-2345-113",
price: 54.5
},
{
id: 6,
title: "Saving Private Ryan",
author: "Lord Hansel",
year: 1999,
isbn: "2833-2345-112",
price: 69.5
},
{
id: 7,
title: "Saving Private Holmes",
author: "Lord Helmett",
year: 2007,
isbn: "2123-2545-812",
price: 199.5
}
]</code></pre>

	<h2>Book By Id</h2>
	<p>
		<strong>GET </strong><strong> /books/{id} </strong> <strong>
		<a href="/books/5">/books/5</a></strong>
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre><code>{
    id: 5,
	title: "Tesla",
	author: "Matts Johansson",
	year: 1994,
	isbn: "2100-2345-113",
	price: 54.5
}</code></pre>
	<h2>New Book</h2>
	<p>
		<strong>POST </strong> <strong> /cars</strong> (Test
		with <a href="https://www.getpostman.com/" target="_blank">PostMan</a>/etc.)
	</p>
	<p>
		<strong>JSON Example:</strong>
	</p>
	<pre><code>{
id: 7,
title: "Saving Private Holmes",
author: "Lord Helmett",
year: 2007,
isbn: "2123-2545-812",
price: 199.5
}</code></pre>
</body>
</html>