<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Product Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="../css/css.css" th:href="@{../css/css.css}" />
    <link href="https://fonts.googleapis.com/css?family=Tangerine&display=swap" rel="stylesheet">
</head>
<body>
	<h1 id="titlemain">Add a new product with the information required</h1>
	<form id="form" action="#" th:action="@{/save}" th:object="${electronicProduct}" method="post">
	<p>Product name: <input type="text" th:field="*{name}" /></p>
	<p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
	<p>Year: <input type="text" th:field="*{year}" /></p>
	<p th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year Error</p>
	<p>Rating: <input type="text" th:field="*{rating}" /></p>
	<p th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}">Rating Error</p>
	<p>Availability: <input type="text" th:field="*{availability}" /></p>
	<p th:if="${#fields.hasErrors('availability')}" th:errors="*{availability}">Availability Error</p>
	<p>Description: <input type="text" th:field="*{description}" /></p>
	<p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</p>
	<p>Price: <input type="text" th:field="*{price}" /></p>
	<p th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Price Error</p>
	<input type="submit" id="button" value="Submit" /> <input type="reset" id="button" value="Reset" />
	<label for="categorylist">Category:</label>
			<select id="categorylist" th:field="*{category}" class="form-control">
			<option th:each="category: ${catslist}"
					th:value="${category.categoryId}"
					th:text="${category.name}"></option>
			
			</select>
		<p><a th:href="@{/allproducts}" id="buttonprevious">Previous page</a></p>
	</form>
    
</body>
</html>